{% extends "base_generic.html" %}
{%load crispy_forms_tags%}
{% block content %}
    <div class="content-section col-md-6" style="margin:20px">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Picture" style="width: 100px; height:100px">
        <div class="media-body" style="margin-left:10px">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype = "multipart/form-data"> <!-Remember to include "enctype" so that our image will upload and update fine->
        {% csrf_token %}
        <fieldset>
            <legend> Profile Information </legend>
            {{ u_form | crispy }}
            {{ p_form | crispy }}
        </fieldset>
        <div>
            <button type = "Submit" class="btn btn-primary btn-md"> Update </button><br/>
        </div>
        </form>
    </div>
{% endblock content %}